* {
  margin: 0;
  font-family: 'IM Fell English SC', serif;


}

.temp {
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 50%;
}

.brewy-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:70%;
  height: 35%;
  color: white;
}

.name {
  font-size: 50px;
  margin:10px;
  color: #dbb26f;
}

article p {
  font-size: 40px;
  padding:10px;
}

a {
  font-size: 30px;
  color: #f2c963;

}

.link-btn {
  width: 10em;
  height: 3em;
  font-size: 30px;
  border:none;
  background-color: #dbb26f;
  border-radius: 10px;
}

button:hover {
  background-color: #af3f26;
}

.links-section {
  display: flex;
  margin-top: 2rem;
  margin-left: 9rem;
}

.back-btn {
font-size: 15px;
  height: 5em;
  width: 5rem;
  border-radius: 50%;
  margin-left: 5rem;
   border:none;
   background-color: #dbb26f;
}