.form-section {
  margin: 0;
  display:flex;
  justify-content: flex-start;


  flex-direction: column;
  align-items: center;
  /* border: 4px solid rgb(255, 0, 0); */
  width: 70%;
}

.find-text {
  margin-bottom: 5%;
  color:rgb(231, 209, 209);
  font-size: 80px;

}

.search-text {
  color:rgb(231, 209, 209);
  font-size: 50px;
}

.search-btn {
  background-color: #dbb26f;
  width: 5rem;
  border-radius: 10px;
}

.input, .search-btn {
  margin-bottom: 60%;
}

.brew-grid {
  width: 100%;
}