

header {
  margin-top: 5%;
  /* border: 3px solid yellow; */
  width: 100%;
}

.title {
  width: 55%;
}

.main-container {
  display: flex;
  /* border: 3px solid white; */
  width: 100vw;
  height: 100vh;
}

input {
  height: 15px;
  width: 170px;
  padding: 15px;
  font-size: 18px;
  border-radius: 4px;
}

button {
  padding: 5px;
  margin: 5px;
  font-size: 15px;
  height: 30px;
  width: 60px;
  cursor: pointer;
}