 html {
   height: 100%;
  margin: 0;
  padding: 0;
  background-image: url(./beer-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid green;
  font-family: 'IM Fell English SC', serif;
  
    
}

